POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=your_db
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=john@smith.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PORT=8082

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password